body {
    background-color: rgb(0, 0, 0);
    margin-left: 25px;
}

.res {
    background-color: rgb(60, 60, 60);
    font-size: 29.23px;
    color: white;
    text-align: right;
    border-color: black;
    width: 49%; /* Adjust the width of the result input element */
    padding: 10px; /* Add padding for better appearance */
    margin-top: 10px; /* Add margin for better spacing */
    margin-bottom: -3px; /* Add margin for better spacing */
}

.res input {
    font-size: x-large;
}

#calc {
    display: block;
    margin-left: 130px;
    border-color: black;
    opacity: 1;
    font-weight: bold;
}

.button {
    width: 100px;
    height: 60px;
    font-weight: bold;
    color: white;
    border-color: black;
}

.button-clear {
    background-color: rgb(43, 41, 41);
}

.button-sign {
    background-color: rgb(43, 41, 41);
}

.button-operat {
    background-color: rgb(243, 152, 41);
}

.button-equal {
    width: 100%;
    background-color: rgb(243, 152, 41);
    font-size: 22px;
}

.button-number {
    width: 100%; /* Adjust the width for number and . buttons */
    background-color: rgb(106, 99, 99);
}

.button-operat-div {
    width: 25%; /* Adjust the width for % button */
    background-color: rgb(151, 151, 151); /* % button color */
}

button:active,
button:focus {
    background-color: rgb(151, 151, 151);
    outline: none;
}
